{% extends "layout.html" %} {% block content %}
<div class="container">
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="row text-center mb-5">
      <h2 class="display-3">About Me</h2>
      <p>A few things about me</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Work Experience</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          saepe, itaque cumque temporibus aperiam sint modi ut. Quae, obcaecati
          exercitationem.
        </p>
      </div>
      <div class="col-md-4">
        <h4>Favorite Food</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quisquam
          fugit amet reiciendis voluptatem perspiciatis, odit deleniti molestias
          quidem eius.
        </p>
      </div>
      <div class="col-md-4">
        <h4>Hobbies</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quisquam
          fugit amet reiciendis voluptatem perspiciatis, odit deleniti molestias
          quidem eius.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
